.logo {
  color: $accent-color;
  font-family: 'raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__black {
    color: $logo-black;
  }

  &__white {
    color: $white-color;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}